*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
     
}
.container{
    margin-top: 0;
    margin-left: 0;
    width: 500px;
    height: auto;
    background-color: rgba(26, 25, 25, 0.925);
}
 #view{
    width: 100%;
    height: auto;

 }
 .num{
    font-size: 40px;
    width: 25%;
    height: 50px;
   border-radius: 5px;
   margin-right: -10px;
    
 }
 .btn-m {
    background-color: blue;
    color: white;
 }
 .btn-danger{
    background-color: red;
    color: white;
 }
 .btn-success{
    background-color:#28a745;
    color: white;
 }
